.certificat {
	position: relative;
	display: flex;
	padding: 20px;
	top: 70px;
	width: 70%;
	height: 70vh;
	margin: auto;
	border-radius: 10px;
	background-color: rgba(238, 240, 242, 0.666);
	border: solid #eec643 3px;
	box-shadow: 0 0 25px rgb(238, 198, 67);
}

.title-certificat {
	font-family: "Fredoka", sans-serif;
	font-weight: 300;
	font-size: 3.5rem;
}

.p-certificat {
	font-family: "Fredoka", sans-serif;
	font-weight: 200;
}

.champion {
	position: absolute;
	object-fit: cover;
	height: 90%;
	width: 65%;
	margin-left: -10%;
}

.cadre-point {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7%;
	top: 10%;
	right: 5%;
	height: 100%;
	width: 50%;
}

.title-certificat {
	font-family: "Fredoka", sans-serif;
	font-weight: bolder;
	font-size: 3.5rem;
}
.p-certificat,
.voyage {
	text-align: center;
	font-family: "Fredoka", sans-serif;
	font-size: 1.5rem;
	font-weight: normal;
}
.score {
	font-family: "Fredoka", sans-serif;
	font-weight: bold;
	color: green;
	font-size: 3rem;
	margin-bottom: 30px;
	height: 15%;
	width: 30%;
}

.rocket {
	position: absolute;
	overflow: hidden;
	z-index: 3;
	right: 0;
	top: -80vh;
	animation: rocket-load 5s cubic-bezier(0.91, -0.01, 0.93, 1.01);
}

@keyframes rocket-load {
	from {
		transform: translateY(310%);
	}

	to {
		transform: translateY(-100%);
	}
}

.startAgainBtn {
	padding: 5px 10px;
	cursor: pointer;
	font-family: "Fredoka", sans-serif;
	font-size: 1.6rem;
	color: #eef0f2;
	border-radius: 10px;
	background-color: rgb(0, 191, 0);
	height: 50px;
	bottom: -60px;
}

@media screen and (max-width: 600px) {
	.certificat {
		width: 90%;
		height: 85%;
		margin: auto auto;
	}

	.champion {
		height: 60%;
		width: 77%;
		top: 25%;
		left: 0vh;
	}

	.title-certificat {
		position: relative;
		top: -7%;
		left: -30%;
		font-size: 2.3rem;
	}

	.voyage {
		position: relative;
		font-size: 1.3rem;
		left: -37%;
		width: 300px;
		bottom: -15%;
	}

	.p-certificat {
		display: flex;
		position: absolute;
		width: 40vh;
		margin-left: -60%;
		margin-top: 20%;
	}

	.score {
		margin-top: 10vh;
	}

	.startAgainBtn {
		font-size: 14px;
		position: absolute;
		padding: 5px 10px;
		cursor: pointer;
		font-family: "Fredoka", sans-serif;
		font-size: 1.6rem;
		color: #eef0f2;
		border-radius: 10px;
		background-color: rgb(0, 191, 0);
		height: 50px;
		left: -120px;
		bottom: 30px;
	}
}
