@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Fredoka", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: #011638;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.tooltip {
	position: absolute;
	bottom: 100%; /* Position above the icon */
	left: 100%;
	bottom: 50%;
	transform: translateX(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	white-space: nowrap;
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

a:hover .tooltip {
	opacity: 1;
}
